@model IEnumerable<FlashPoints.Models.Event>

@{
    ViewData["Title"] = "Student Event Requests";
}
<br />
<h2>Student Event Requests</h2>
<br />
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Submitted By
            </th>
            <th>
                Event Title
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                Begins
            </th>
            <th>
                Ends
            </th>
            <th>
                Points
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @item.StartDateTime.ToShortDateString() @item.StartDateTime.ToShortTimeString()
            </td>
            <td>
                @item.EndDateTime.ToShortDateString() @item.EndDateTime.ToShortTimeString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointValue)
            </td>


            <td>
                <form asp-action="ApproveEvent" asp-route-id="@item.ID">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Approve" />
                    </div>
                </form>
                <form asp-action="Delete" asp-route-id="@item.ID">
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger" value="Deny" />
                    </div>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
