@model FlashPoints.Models.Prize

@{
    ViewData["Title"] = "Details";
}
<h2>@Model.Title</h2>

<div>
    <h4>Prize Details</h4>
    <hr style="border: 1px solid #f0b310; margin-right:30px">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/prizes/@Model.ImagePath" class="img" />
        </div>
        <div class="col-lg-6">
            <br />
            <br />
            <h5>@Model.Description</h5>
            <br />
            <dl class="dl-horizontal">
                <dt>
                    Point Price
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PointPrice)
                </dd>
                <dt>
                    Redeem Location
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>
            </dl>
            @if (ViewBag.redeemed == false && ViewBag.redeemable == true)
            {
                <form asp-action="RedeemPrize" asp-route-id="@Model.ID">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Redeem Prize" />
                    </div>
                </form>
            }
            else if (ViewBag.redeemed == false && ViewBag.redeemable == false)
            {
                <br />
                <p><strong>You have @ViewBag.userPoints points</strong></p>
                <br />
                <p>Attend more events to earn this prize!</p>
            }
            else
            {
                <br />
                <p style="color:green"><strong> Redeemed ✓</strong></p>
                <br />
                <p> Go to @Model.Location to pick up your prize!</p>
            }

        </div>
    </div>
    <br />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
